<div id="main" class="col-lg-12">
    <div class="col-lg-12"></div>
    <div class="col-lg-2" id="leftCol">
        <div class="panel-group panel-primary" id="sidebar">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Advanced Search
                </h4>
            </div>
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne">
                            Job Published Time
                        </a>
                    </h4>

                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="btn-group-vertical longer">
                            <label>
                                <input type="radio" ng-model="order" value="date">Recently
                            </label><br/>
                            <label>
                                <input type="radio" ng-model="order" value="-date">At first
                            </label><br/>
                            <label>
                                <input type="radio" ng-model="order" value="title">Accroding to title
                            </label><br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel2">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseTwo"
                           class="collapsed">
                            Job Location
                        </a>
                    </h4>

                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="btn-group-vertical longer">
                            <div>
                                <label>
                                    <input type="radio" ng-model="query" value="Ottawa">Ottawa
                                </label><br/>
                                <label>
                                    <input type="radio" ng-model="query" value="Toronto">Toronto
                                </label><br/>
                                <label>
                                    <input type="radio" ng-model="query" value="Montreal">Montreal
                                </label><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel3">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseThree" class="collapsed">
                            Display Per Page
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="btn-group-vertical longer">
                            <label>
                                <input type="radio" ng-model="num" value="3">3 per page
                            </label><br/>
                            <label>
                                <input type="radio" ng-model="num" value="7">7 per page
                            </label><br/>
                            <label>
                                <input type="radio" ng-model="num" value="10">10 per page
                            </label><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <!-- <div id="main-content">
            {{#each jobs}}
            <div class="pin" >
                <div class="box">
                    <a href="#" class="thumbnail">
                        <img src="{{this.pic}}" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3>{{this.title}}</h3>
                        <p>{{this.description}}</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>-->
        <div id="main-content">
            <div class="pin animated fadeIn"  ng-repeat="job in jobs|filter:query |orderBy:order | limitTo:num">
                <div class="box">
                    <a href="#" class="thumbnail">
                        <img src="{{job.pic}}" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3>{{job.title}}</h3>
                        <p>{{job.description}}</p>
                        <p>{{job.location}}</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/script.js"></script>


